# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.venv/
env/
ENV/

# Django
*.sqlite3
*.db
*.log
media/
staticfiles/
.local

# Environment files
.env
.env.*

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

notes_for_netcraft.txt


# Ignore Auto Push Script
auto_push.py
run.py